[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/fryduck
[access "refs/for/refs/*"]
	read = group user/fryduck
	push = group user/fryduck
	label-Code-Review = -2..+2 group user/fryduck
	label-Verified = -1..+1 group user/fryduck
	rebase = group user/fryduck
	removeReviewer = group user/fryduck
	submit = group user/fryduck
[access "refs/heads/*"]
	read = group user/fryduck
	create = group user/fryduck
	push = +force group user/fryduck
	pushMerge = group user/fryduck
[access "refs/tags/*"]
	push = group user/fryduck
	push = +force group user/fryduck
