[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/fryduck (fryduck)
[access "refs/for/refs/*"]
	read = group user/fryduck (fryduck)
	push = group user/fryduck (fryduck)
	label-Code-Review = -2..+2 group user/fryduck (fryduck)
	label-Verified = -1..+1 group user/fryduck (fryduck)
	rebase = group user/fryduck (fryduck)
	removeReviewer = group user/fryduck (fryduck)
	submit = group user/fryduck (fryduck)
[access "refs/heads/*"]
	read = group user/fryduck (fryduck)
	create = group user/fryduck (fryduck)
	push = +force group user/fryduck (fryduck)
	pushMerge = group user/fryduck (fryduck)
[access "refs/tags/*"]
	push = group user/fryduck (fryduck)
	push = +force group user/fryduck (fryduck)
